h1{
    color: white;
    background-color: blue;
    padding: 5px;
    border:white solid;
    font-size: 60px;
   
}
div{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: black;
    color: white;
    
}
button:hover{
    border-color: yellow; 
}
